* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Jost", sans-serif;
}
/* Start Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2022;
  transition: 0.5s;
}
header .navbar-brand {
  font-size: 1.75rem;
  transition: 0.5s;
}
header .navbar-light .navbar-nav .nav-link {
  margin: 0 0.15rem;
  color: black;
  font-size: 1.15rem;
  transition: 0.5s;
}
header .fa-angle-down {
  font-size: 0.75rem;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: #28a745;
}
header .nav-item.active a.text-success:hover {
  color: #28a745 !important;
}
header .nav-item a.nav-link {
  position: relative;
}
header .nav-item a.nav-link::before {
  content: "";
  width: 0;
  height: 0.5px;
  position: absolute;
  bottom: 5px;
  left: 0.5rem;
  background-color: #28a745;
  transition: 0.5s;
}
header .nav-item:hover a.nav-link::before {
  width: calc(100% - 1rem);
}
header .navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-35%) translateY(-10px);
}
header .dropdown-menu {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
header .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -8px;
  left: 48%;
  transform: rotate(45deg);
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-right: none;
  border-bottom: none;
}
header .dropdown-item {
  transition: 0.5s;
}
header .dropdown-item:focus,
header .dropdown-item:hover {
  color: #28a745;
  text-decoration: none;
  background-color: transparent;
}
header .container .navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
}
header .navbar-toggle-icon-bar-1,
header .navbar-toggle-icon-bar-2,
header .navbar-toggle-icon-bar-3 {
  width: 26px;
  height: 4px;
  background-color: black;
  margin: 2px 0;
  transition: 0.5s;
}
header .change .navbar-toggle-icon-bar-1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

header .change .navbar-toggle-icon-bar-2 {
  opacity: 0;
}

header .change .navbar-toggle-icon-bar-3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
header .container button.navbar-toggler {
  border: 2px solid black;
}
header button:focus {
  outline: none;
}
header button.btn:focus {
  box-shadow: none;
}

/* Start Carousel */
.poochcare-carousel {
  margin-top: 75px;
}
.poochcare-carousel .carousel-item {
  transition: 2s ease-out;
}
.poochcare-carousel .carousel-item img {
  height: 105vh;
  position: relative;
  object-fit: cover;
}
.poochcare-carousel .carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.poochcare-carousel .carousel-item .container-fluid {
  position: absolute;
  top: 20%;
  right: auto;
}
.poochcare-carousel .carousel-caption {
  width: 50%;
  position: relative;
  left: auto;
  right: auto;
  text-align: left;
}
.poochcare-carousel .carousel-caption h5 {
  font-size: 4rem;
}
.poochcare-carousel .carousel-caption p {
  margin-bottom: 3.5rem;
  font-size: 1.25rem;
}
.poochcare-carousel .carousel-caption button {
  padding: 0.75rem 1.75rem;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  transition: 0.5s;
}
.poochcare-carousel .carousel-caption button:nth-of-type(1) {
  background-color: white;
  color: #28a745;
}
.poochcare-carousel .carousel-caption button:nth-of-type(1):hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
.poochcare-carousel .carousel-caption button:nth-of-type(2) {
  margin-left: 10px;
  background-color: transparent;
  color: white;
}
.poochcare-carousel .carousel-caption button:nth-of-type(2):hover {
  background-color: white;
  color: #28a745;
}
.carousel-indicators {
  bottom: 10px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
}
.carousel-indicators li:hover {
  opacity: 1;
  background-color: #28a745;
}
.carousel-indicators .active {
  width: 30px;
  background-color: #28a745;
}

/* Start About Us */
.about-us a {
  border-bottom: 2px solid #28a745;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.5s;
}
.about-us a:hover {
  color: #28a745;
}
.about-us-top {
  padding: 0 200px;
}
.about-us-top h4 {
  color: red;
  font-weight: 300;
}
.about-us-content {
  background-color: rgba(147, 107, 232, 0.05);
}
.about-us-item {
  padding: 50px 30px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  transition: 0.5s;
}
.about-us-item:hover {
  background-color: rgb(243, 239, 253);
}
.about-us-content-icon i {
  color: #28a745;
  font-size: 2rem;
}
.about-us-item p {
  font-size: 1.25rem;
}
.about-us-item h4 {
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.about-us-item h4:hover {
  color: #28a745;
}

/* Start Our Plan */
.poochcare-plan {
  background-color: rgba(147, 107, 232, 0.05);
}
.our-plan-header h4 {
  color: red;
}
.our-plan-content .our-plan-card-cover {
  display: flex;
  align-items: center;
  padding: 0;
}
.our-plan-card {
  width: 100%;
  vertical-align: middle;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}
.our-plan-content .our-plan-card-cover:first-of-type .our-plan-card {
  border-radius: 1rem 0rem 0rem 1rem;
}
.our-plan-content .our-plan-card-cover:nth-of-type(2) .our-plan-card {
  border-radius: 1rem;
  z-index: 2;
}
.our-plan-content .our-plan-card-cover:last-of-type .our-plan-card {
  border-radius: 0rem 1rem 1rem 0rem;
}
.our-plan-card-top {
  padding: 30px 20px;
}
.our-plan-card-top span {
  position: relative;
  padding: 0 1rem;
  font-size: 3rem;
  font-weight: 700;
}
.our-plan-card-top span::before {
  content: "$";
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-size: 1.5rem;
}
.our-plan-card-top span::after {
  content: "/month";
  font-size: 1rem;
  font-weight: normal;
}
.our-plan-card-bottom {
  padding: 30px 20px;
}
.our-plan-card-bottom li {
  margin-bottom: 15px;
  list-style: none;
}
.our-plan-card-bottom button {
  margin-top: 15px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.our-plan-card-bottom button:focus {
  background-color: #218838;
}
.our-plan-side-card-top span {
  color: #28a745;
}
.our-plan-side-card-top span::after {
  color: #999;
}
.our-plan-center-card-top {
  background-color: #28a745;
  color: white;
}
.our-plan-center-card-top p {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: #28a745;
  font-weight: bolder;
}

/* Start Subscribe */
.poochcare-subscribe .poochcare-subscribe-content {
  width: 60%;
}
.poochcare-subscribe-content .form-group {
  padding-left: 0;
  padding-right: 15px;
  margin-bottom: 0;
}
.poochcare-subscribe .poochcare-subscribe-content input {
  padding: 1.75rem 1rem;
  border: 2px solid #d9dde2;
  box-shadow: none;
  outline: none;
}
.poochcare-subscribe .poochcare-subscribe-content input:focus {
  border-color: #28a745;
}
.poochcare-subscribe-content input,
.poochcare-subscribe-content button {
  border-radius: 15px;
  transition: 0.5s;
}

/* Start Footer */
footer {
  background-color: black;
}
footer .footer-content h3 {
  margin-bottom: 15px;
  color: white;
}
footer .footer-content ul {
  line-height: 40px;
  list-style: none;
  color: #999;
}
footer .footer-content a {
  color: #999;
}
footer .footer-content a:hover {
  color: white;
}
footer .footer-content div:first-of-type li:last-of-type a {
  margin-right: 10px;
}
footer .footer-copyright {
  border-top: 1px solid #999;
}
footer .footer-copyright p {
  margin: 0;
  color: #999;
}
footer .footer-copyright a {
  color: red;
}

/* Start Video */
.video-container {
  position: fixed;
  bottom: 15px;
  left: 0;
  margin-left: 15px;
  background-color: rgb(200, 200, 200);
  z-index: 11;
  transition: 0.5s;
}
.close-video {
  width: 20px;
  height: 20px;
  margin-left: auto;
  border-radius: 50%;
  text-align: center;
}
.close-video i {
  color: black;
}
.video {
  width: 400px;
  height: 225px;
}
.video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hide .video-container {
  bottom: -500px;
}
.videoRelative .video-container {
  max-width: 1140px;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-color: transparent;
}
.videoRelative .close-video {
  display: none;
}
.videoRelative .video {
  width: 640px;
  max-width: 100%;
  height: 360px;
  margin: 0 auto;
}

/* Start Back to top */
#btn-back-to-top {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #28a745;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  z-index: 12;
  transition: 0.5s;
}

/* Light theme */
#myBody {
  background-color: white;
  transition: 0.5s;
}
#switchButton {
  background-color: transparent;
}
#switchButton .gg-sun {
  display: none;
}
#switchButton .gg-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #151515;
}
.dark #switchButton {
  background-color: transparent;
}
.dark #switchButton .gg-sun {
  display: block;
  color: white;
}
.dark #switchButton .gg-moon {
  display: none;
}
/* Start Header Dark Theme */
.dark header {
  background-color: black;
}
.dark header.container-fluid {
  color: white;
}
.dark header .navbar-light .navbar-nav .nav-link {
  color: white;
}
.dark header .navbar-light .navbar-nav .nav-link:hover {
  color: #28a745;
}
.dark header .navbar-light .navbar-toggler {
  background-color: rgba(40, 167, 70, 0.5);
}
.dark header .dropdown-menu,
.dark header .dropdown-menu::before {
  background-color: black;
  border-color: #999;
}
.dark header .dropdown-item {
  color: white;
}
.dark header .dropdown-item:hover {
  color: #28a745;
}
/* Start Carousel Dark Theme */
.dark .poochcare-carousel .carousel-item img {
  filter: brightness(80%);
}
.dark .poochcare-carousel .carousel-caption button:nth-of-type(1) {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
.dark .poochcare-carousel .carousel-caption button:nth-of-type(1):hover {
  background-color: black;
  border-color: black;
  color: #28a745;
}
.dark .poochcare-carousel .carousel-caption button:nth-of-type(2) {
  background-color: white;
  color: #28a745;
}
.dark .poochcare-carousel .carousel-caption button:nth-of-type(2):hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
/* Start About Us */
.dark .about-us-top h1 {
  color: white;
}
.dark .about-us-top p {
  color: white;
}
.dark .about-us a {
  color: white;
}
.dark .about-us a:hover {
  color: #218838;
}
.dark .about-us-content {
  background-color: #222222;
}
.dark .about-us-item {
  background-color: black;
}
.dark .about-us-item:hover {
  background-color: #151515;
}
.dark .about-us-item h4 {
  color: #28a745;
}
.dark .about-us-item h4:hover {
  color: #16742b;
}
.dark .about-us-item p {
  color: white;
}
/* Start Our Plan Dark Theme */
.dark .poochcare-plan {
  background-color: #222222;
}
.dark .our-plan-header h1 {
  color: white;
}
.dark .our-plan-card {
  background-color: transparent;
  background-color: black;
  box-shadow: rgba(138, 126, 126, 0.5) 0px 2px 8px 5px;
  color: white;
}
.dark .our-plan-side-card-top span::after {
  color: #218838;
}
.dark .our-plan-center-card-top {
  background-color: #218838;
}
.dark .our-plan-card-bottom button {
  background-color: transparent;
  color: #28a745;
}
.dark .our-plan-card-bottom button:hover,
.dark .our-plan-card-bottom button:focus {
  background-color: #218838;
  box-shadow: none;
  color: white;
}
.dark .our-plan-side-card-top h4,
.dark .our-plan-side-card-top span,
.dark .our-plan-center-card-top p {
  color: #218838;
}
/* Start Subscribe Dark Theme */
.dark .poochcare-subscribe-title {
  color: white;
}

/* Responsive */
@media only screen and (max-width: 991.98px) {
  /* Start Header responsive (max-width: 991.98px) */
  #switchButton {
    position: absolute;
    top: 20px;
    right: 80px;
  }
  header .nav-item a.nav-link::before {
    display: none;
  }
  header .navbar-light .navbar-nav .nav-link {
    font-size: 1.25rem;
  }
  header .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  /* Start Carousel responsive (max-width: 991.98px) */
  .poochcare-carousel .carousel-caption {
    width: 100%;
  }
  /* Start About Us responsive (max-width: 991.98px) */
  .about-us-top {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 767.98px) {
  /* Start About Us responsive (max-width: 767.98px) */
  .about-us-top {
    padding: 0;
  }
  /* Start Our Plan responsive (max-width: 767.98px) */
  .our-plan-card-cover {
    margin-bottom: 30px;
  }
  .our-plan-content .our-plan-card-cover:first-of-type .our-plan-card,
  .our-plan-content .our-plan-card-cover:last-of-type .our-plan-card {
    border-radius: 1rem;
  }
  /* Start Subscribe responsive (max-width: 767.98px) */
  .poochcare-subscribe-content .form-group {
    padding-right: 0;
    margin-bottom: 1rem;
  }
  .poochcare-subscribe-content button {
    padding: 1rem 0rem;
  }
  /* Start Video responsive (max-width: 767.98px) */
  .video {
    width: 200px;
    height: 112.5px;
  }
}
