.title h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0351e;
  text-transform: uppercase;
}

.title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  color: #000;
}

.dark .title h2 {
  color: #fff;
}

.title p {
  font-size: 16px;
  line-height: 30px;
  margin: 30px 0 20px 0;
}

.dark .title p {
  color: #fff;
}

/* Start choose */

.dark .choose {
  background: #151515;
}

.choose-img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.choose .choose__content {
  align-self: center;
}

.choose .choose__content li {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.dark .choose .choose__content li {
  color: #fff;
}

.choose .choose__content i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 11px;
  color: #189a46;
  background: #f9f7f8;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}

.dark .choose .choose__content i {
  background: #151515;
}

/* End choose */

/* Start stats */
.stats {
  background-color: #189a46;
}

.stats__item {
  text-align: center;
}

.stats__item p {
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  margin-top: 20px;
}

.stats__item h4 {
  font-size: 20px;
  text-transform: capitalize;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
  opacity: 0.8;
}
/* End stats */

/* Start video pooch */

.video__width {
  max-width: 950px;
  margin: 0 auto;
}

.video__content {
  position: relative;
}

.video__content .video__img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.video__content .video__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
}

.video__content .video-play-icon span {
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  font-size: 17px;
  color: #189a46;
}

.ripple {
  width: 65px;
  height: 65px;
  background: white;
  margin: auto;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

.video__content #small-dialog1 {
  margin: 15px auto;
  position: relative;
}

.video__content #small-dialog1 iframe {
  width: 100%;
  height: 400px;
  display: block;
}

#small-dialog,
#small-dialog1 {
  text-align: left;
  max-width: 750px;
  height: 450px;
  margin: 120px auto 0;
  position: relative;
  text-align: center;
}
#small-dialog-it,
#small-dialog-in,
#small-dialog-fr,
#small-dialog-sh,
#small-dialog-sf,
#small-dialog-su,
#small-dialog-me,
#small-dialog-ch,
#small-dialog-pi,
#small-dialog-am {
  background: white;
  padding: 0px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}
a.play-icon.popup-with-zoom-anim img:hover {
  opacity: 0.5;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.portfolio-items {
  text-align: center;
  margin: 0 auto;
}
.portfolio-items img {
  width: 100%;
}
.portfolio-items h4 {
  margin: 1em 0;
  font-size: 25px;
  color: #a63d56;
}
.portfolio-items p {
  text-align: justify;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}
.mfp-content iframe {
  width: 100%;
  min-height: 370px;
  border: none;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  background: #fff;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 23px;
  height: 30px;
  line-height: 25px;
  position: absolute;
  right: 10px;
  top: -30px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white !important;
  font-style: normal;
  font-size: 45px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
  background: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.login h3,
.signup h3 {
  margin: 1em 0;
  color: #a63d56;
}
.login input[type="text"],
.login input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 3px 0;
  border: 1px solid #a63d56;
  outline: none !important;
}
.signup input[type="text"] {
  width: 44.5%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.signup input.email[type="text"],
.signup input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}
.login input[type="submit"],
.signup input[type="submit"] {
  background: #347083;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 17%;
  -webkit-appearance: none;
}
.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
  background: #163035;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media all and (max-width: 568px) {
  #small-dialog,
  #small-dialog1 {
    max-width: 425px;
  }
}
@media all and (max-width: 480px) {
  .comments-area textarea {
    height: 100px;
  }
  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 14px;
    width: 20%;
  }
  .mfp-close {
    left: 0;
  }
  #small-dialog,
  #small-dialog1 {
    max-width: 445px;
  }
}
@media all and (max-width: 414px) {
  #small-dialog,
  #small-dialog1 {
    padding: 1.5em;
  }
}
@media all and (max-width: 375px) {
  #small-dialog h2,
  #small-dialog1 h2 {
    font-size: 1.5em;
  }
}
@media all and (max-width: 320px) {
  .comments-area span.label,
  .comments-area span.text-field {
    float: none;
    width: 100%;
  }
  .comments-area span {
    padding-bottom: 3px;
  }
  .comments-area input[type="text"],
  .comments-area textarea {
    width: 92%;
  }
  .comments-area div {
    padding: 2px 0;
  }
  .mfp-content iframe {
    width: 100%;
    min-height: 250px;
  }
  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 12px;
    width: 29%;
  }
  .signup input[type="text"] {
    width: 90%;
  }
  .mfp-close {
    right: 2px;
    top: -30px;
  }
}

/* Start testimonials */
.testimonials {
  background: #f9f7fe;
}

.dark .testimonials {
  background-color: #222222;
}

.testimonials__content {
  display: flex;
  align-items: center;
}

.testimonials__item {
  display: block;
  margin: 0;
  padding: 40px 30px;
  background: #fff;
  position: relative;
  border: none;
  border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.dark .testimonials__item {
  background: #151515;
}

.testimonials__item .content__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.testimonials__item .content__img img {
  width: 100%;
  height: 100%;
}

.owl-stage {
  display: flex;
  overflow: hidden;
}

.owl-stage-outer {
  overflow: hidden;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 40px;
  text-align: center;
}

.owl-dot {
  background: transparent;
  display: inline-block;
  border: none;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  transition: opacity 0.2s;
  border-radius: 25px;
  position: relative;
}

button .owl-dot:hover {
  border: none;
}

.active:hover {
  border: none;
}

.owl-dot:hover {
  border: none;
}

.owl-dot:hover span {
  width: 30px;
  height: 10px;
  background: #2fa359;
  border: none;
  border-color: transparent;
}

.active span {
  width: 30px;
  height: 10px;
  background: #2fa359;
}

.testimonials__item q {
  font-size: 20px;
  color: #000;
}

.dark .testimonials__item q {
  color: #fff;
}

.testimonials__item q::before {
  font-size: 50px;
  color: #189a46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.testimonials__content {
  margin-top: 20px;
}

.testimonials__content .content__pepple {
  margin-left: 20px;
}

.testimonials__content .content__pepple h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.dark .testimonials__content .content__pepple h3 {
  color: #fff;
}

.testimonials__content .content__pepple p {
  font-size: 18px;
  color: #777;
  opacity: 0.8;
  margin: 0;
}

.dark .testimonials__content .content__pepple p {
  color: #fff;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
